<template>
  <div class="company-edit-page container-tab">
    <h2 class="header">Edit Company</h2>
    <el-card class="padded">
      <edit-company :company="company" @save="onSave"></edit-company>
    </el-card>
  </div>
</template>

<script>
import EditCompanyComponent from '@/components/EditCompany'

export default {
  name: 'CompanyEditPage',
  components: {
    'edit-company': EditCompanyComponent
  },
  data: function () {
    return {
      company: {}
    }
  },
  mounted: function () {
    this.init()
  },
  methods: {
    init: function () {
      this.company = this.$store.getters.company || {}
    },
    onSave: function () {
      window.bus.$emit('set-active-tab', 'members')
      this.$router.push(`/dashboard/company/${this.company._id}/members`)
    }
  },
  watch: {
    '$store.getters.company': function () {
      this.init()
    }
  }
}
</script>
<style lang="scss">
.company-edit-page {

  .el-card {
    padding: 2rem 3rem;
  }
}
</style>