<template>
  <div class="company-license-page container-tab">
    <el-card class="padded t-c" v-loading="loader">
      <div v-if="hasEnoughBalance || (company && company.license_valid)">
        <div >
          <div v-if="company.license_id && company.license_id.length && company.license_valid">
            <div class="circle-loader load-complete">
              <div class="checkmark draw checkmark-show"></div>
            </div>
            <h2>Congratulations!</h2>
            <h2>License price = {{licenseRate | toEdi}} EDI Token</h2>
            <p> You are registered successfully. Now you can add 5 members to use this trading channel.</p>
            <!-- <el-button type="primary" round size="large" @click="addMembers">Add Members Now</el-button> -->
          </div>
          <div v-if="company.license_id && company.license_id.length && !company.license_valid">
            <div class="m-a cross"></div>
            <h2>Access Rights have Expired!</h2>
            <h2>Networok Access  Price = {{licenseRate | toEdi}} EDI Token</h2>
            <p>Trading Channel Membership has expired, please renew.</p>
          </div>
          <div v-if="!hasApproval && (!company.license_id || !company.license_id.length || !company.license_valid)">
            <img class="blockarray-icon" src="../../../assets/blockarray.png" v-if="!company.license_id">
            <h2>License price = {{licenseRate | toEdi}} EDI Token</h2>
            <p v-if="!hasApproval">So you will have to give us allowance to charge {{licenseRate | toEdi}} Membership rights are non-transferable.</p>
            <el-button type="primary" round size="large" @click="giveAllowance" v-if="!hasApproval">EDI Credits</el-button>
          </div>

          <div v-if="hasApproval && (!company.license_id || !company.license_id.length || !company.license_valid)">
            <img class="blockarray-icon" src="../../../assets/blockarray.png" v-if="!company.license_id">
            <h2 class="m-b-0">Allowance request approved</h2>
            <h2>License price = {{licenseRate | toEdi}} EDI Token</h2>
            <p class="m-t-0">Thank you for allowing FreighTrust. You can now apply for license which you can share with upto 5 members. </p>
            <el-button type="primary" round size="large" @click="applyLicense" v-if="!company.license_id">Apply For License Now</el-button>
            <el-button type="primary" round size="large" @click="renewLicense" v-if="company.license_id && !company.license_valid">Renew License</el-button>
          </div>
        </div>
      </div>
      <div v-if="!hasEnoughBalance && company && !company.license_valid">
        <img class="blockarray-icon" src="../../../assets/blockarray.png">
        <h2>License price = {{licenseRate | toEdi}} EDI Tokens</h2>
        <p>You do not have enough EDI tokens to transact</p>
      </div>
    </el-card>
    <allowance :rate="licenseRate" :dialogVisible="dialogVisible" @close="onDialogClose" @submit="onAllowance"></allowance>
  </div>
</template>

<script>
import salesService from '@/services/salesService'
import tokenService from '@/services/tokenService'
import web3Service from '@/services/web3Service'
import AllowanceDialog from '@/components/AllowanceDialog'

export default {
  name: 'CompanyTradingChannelPage',
  components: {
    'allowance': AllowanceDialog
  },
  data: function () {
    return {
      company: {},
      members: [],
      loading: {
        license: false,
        ary_rate: false,
        allowance: false
      },
      aryBalance: 0,
      rules: {},
      licenseRate: 0,
      remainingAllowance: 0,
      requiredApproval: 0,
      hasApproval: false,
      aryTokenAddress: process.env.VUE_APP_ARY_TOKEN_ADDRESS,
      hasEnoughBalance: false,
      dialogVisible: false,
      isProcessing: false
    }
  },
  computed: {
    loader: function () {
      return this.loading.license || this.loading.ary_rate || this.loading.allowance 
    }
  },
  watch: {
    '$store.getters.company': function (newVal) {
      this.company = newVal
      this.init()
    }
  },
  mounted: function () {
    // this.checkProcessing()
    if (this.$route.params.id) {
      this.company = this.$store.getters.company
      this.init()
      // this.$store.dispatch('getCompany', [this.$route.params.id]).then(resp => {
      //   this.loading.license = false
      //   this.company = resp
      //   if (this.company.license_id && this.company.license_id.length) {
      //     this.hasEnoughBalance = true
      //   }
      //   else {
      //     setTimeout(()=> {
      //       this.getEdiTokenBalance()  
      //     }, 1000)
          
      //     this.fetchLicenseRate()
      //   }
      // }).catch(() => {
      //   this.loading.license = false
      // })
    }
    // window.bus.$on('allowance-success', () => {
    //   this.init()
    // })
    // window.bus.$on('license-generated', () => {
    //   this.init()
    //   window.bus.$emit('refresh-balance')
    // })
    // setTimeout(()=>{
    //   this.checkRemainingAllowance()
    // }, 2000)
  },
  methods: {
    init: function () {
      this.isProcessing = salesService.isProcessing
      if (this.company && this.company._id) {
        if (this.company.license_id && this.company.license_id.length && this.company.license_valid) {
          this.hasEnoughBalance = true
        }
        setTimeout(()=> {
          this.getEdiTokenBalance()  
        }, 1000)
        
        this.fetchLicenseRate()
        this.checkCompanylicense(this.company._id)
      }
    },

    fetchLicenseRate: function () {
      this.loading.ary_rate = true
      salesService.fetchLicenseRate().then(resp => {
        this.loading.ary_rate = false
        if (resp) {
          this.licenseRate = parseInt(resp)
          this.checkRemainingAllowance()
        }
      }, error => {
        console.log('Error', error)
        this.loading.ary_rate = false
      })
    },
    checkRemainingAllowance: function () {
      this.loading.allowance = true
      salesService.checkRemainingAllowance().then(resp => {
        this.loading.allowance = false
        this.remainingAllowance = resp
        if (this.remainingAllowance >= this.licenseRate) {
          this.hasApproval = true
        }
      }, error => {
        console.log('Error', error)
        this.loading.allowance = false
      })
    },
    onAllowance: function (resp) {
      this.hasApproval = resp
    },
    giveAllowance: function () {
      let spender = process.env.VUE_APP_FREIGHT_TRUST_SALE_CONTRACT 
      this.loading.allowance = true    
      salesService.approveSpender(spender, this.licenseRate).then(resp => {    
        this.loading.allowance = false   
        if (resp && resp.status == true) {   
         this.hasApproval = true    
        }    
      }).catch(error => {    
        this.hasApproval = false   
        this.loading.allowance = false   
      })
    },
    applyLicense: function () {
      this.loading.license = true
      salesService.applyLicense(this.company._id, [], web3Service.accounts[0]).then(resp=> {
        this.loading.license = false
        if (typeof resp == 'string') {
          this.checkRemainingAllowance()
          this.updateCompany(resp)
        }
        window.bus.$emit('refresh-balance')
      }).catch(error => {
        this.loading.license = false
        this.showError(error)
      })
    },
    renewLicense: function () {
      this.loading.license = true
      salesService.renewLicense(this.company.license_id).then(resp => {
        this.loading.license = false
        if (resp) {
          this.updateCompany(this.company.license_id)
        }
      })
    },
    apply: function () {
      // TODO: Before calling purchase re-confirm approval/allowance just to make sure to avoid gas waste
      if (this.remainingAllowance <= this.licenseRate) {
        this.giveAllowance()
        // if (this.remainingAllowance < this.licenseRate) {
        //   this.requiredApproval = this.licenseRate - this.remainingAllowance
        // }
        // this.confirmAllowance(`Before generating license for your company. We need allowance for ${this.licenseRate} EDI tokens.`).then(() => {
        //   this.giveAllowance()
        // })
      } else {
        this.applyLicense()
      }
    },
    updateCompany: function (licenseId) {
      this.company.license_id = licenseId
      this.company.license_valid = true
      this.$store.dispatch('addOrUpdateCompany', { ...this.company } ).then(resp => {
        this.company = resp
        //this.showSuccess('Company created successfully')
        this.$emit('save', this.company)
      }, error => {
        this.showError(error)
      })
    },
    getEdiTokenBalance: function () {
      // this.loading = true
      let address = web3Service.accounts[0]
      web3Service.getTokenBalance(address, this.aryTokenAddress).then(resp => {
        this.aryBalance = resp
        this.hasEnoughBalance = this.aryBalance >= this.licenseRate
        console.log('hasEnoughBalance: ', this.hasEnoughBalance)
        // this.loading = false
      }, error => {
        console.log('Error', error)
      })
    },
    addMembers: function () {
      window.bus.$emit('set-active-tab', 'members')
      this.$router.push(`/dashboard/company/${this.company._id}/members`)
    },
    onDialogClose: function () {
      this.dialogVisible = false
    },
    checkCompanylicense: function (companyId) {
      tokenService.fetchlicenseId(companyId).then((licenseId) => {
        if (licenseId && this.company.license_id != licenseId) {
          this.company.license_id = licenseId
          console.log('LicenseId ', licenseId)
          this.updateCompany(licenseId)
          //this.verifyLicense(licenseId)
        }
      }, error => {
        console.log('license Logs')
        console.log(error)
        // this.company.license_valid = false
        // this.updateCompany(this.company)
      })
    },
    verifyLicense: function (licenseId) {
      tokenService.verifyLicense(licenseId).then(license => {
        console.log('License Info')
        console.log(license)
        if (license) {
          this.company.license_valid = true
        } else {
          this.company.license_valid = false
        }
        this.updateCompany(this.company)
      })
    },
    // checkProcessing: function () {
    //   if (this.isProcessing) {
    //     setTimeout(() => {
    //       this.isProcessing = salesService.isProcessing
    //       if (!this.isProcessing) {
    //         this.init()
    //       } else {
    //         this.checkProcessing()
    //       }
    //     }, 100)
    //   }
    // }
  }
}
</script>
<style lang="scss">
.company-license-page {

  .el-card {
    padding: 4rem 5rem !important;

    img {
      width: 10rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    .blockarray-icon {
      border: 3px solid black;
      border-radius: 50%;
      width: 8rem;
    }
  }
}
</style> 