<template>
    <div class="company-page">
      <header>
        <!-- <navbar /> -->
        <sidenav />
      </header>

      <div class="wrapper">
        <div class="">
          <el-alert
            :title="'Your actions are limited as your current address is not the owner of this company. Change your account from Metamask to get full access.'"
            type="warning"
            :closable="false" v-if="company && company.license_id && company.is_owner == false">
          </el-alert>
          <transition name="fade" mode="out-in">
            <router-view />
          </transition>
        </div>
      </div>
    </div>
</template>

<script>
import Sidenav from '@/components/Sidenav'
import tokenService from '@/services/tokenService'

export default {
    name: 'CompanyPage',
    components: {
      sidenav: Sidenav
    },
    data () {
      return {
        company: {}
      }
    },
    mounted: function () {
      if (this.$route.params.id) {
        let params = { with: 'members' }
        this.$store.dispatch('getCompany', [ this.$route.params.id, params ]).then(resp => {
          this.company = resp
          this.checkCompanylicense(this.company._id)
        })
      }
    },
    methods: {
      checkCompanylicense: function (companyId) {
        tokenService.fetchlicenseId(companyId).then((licenseId) => {
          if (licenseId) {
            this.company.license_id = licenseId
            console.log('LicenseId ', licenseId)
            this.verifyLicense(licenseId)
            this.checkCompanyOwner(licenseId)
          }
        }, error => {
          console.log('license Logs')
          console.log(error)
          this.company.license_valid = false
          this.updateCompany(this.company)
        })
      },
      verifyLicense: function (licenseId) {
        tokenService.verifyLicense(licenseId).then(license => {
          console.log('License Info')
          console.log(license)
          if (license) {
            this.company.license_valid = true
          } else {
            this.company.license_valid = false
          }
          this.updateCompany(this.company)
        })
      },
      checkCompanyOwner: function (licenseId) {
        tokenService.checkCompanyOwner(licenseId).then(isOwner => {
          this.$set(this.company, 'is_owner', isOwner)
          this.$store.commit('setCompany', this.company)
        })
      },
      updateCompany: function (company) {
        this.$store.dispatch('addOrUpdateCompany', { ...company } ).then(resp => {
          this.company = resp
          //this.showSuccess('Company updated successfully')
          this.$emit('save', this.company)
        }, error => {
          this.showError(error)
        })
      }
    }
}
</script>

<style lang="scss">
.company-page {

  .el-alert--warning {
    border: 1px solid;
    width: 700px;
    margin: 0 auto 2rem;
    justify-content: center;
    text-align: center;
  }
  
}
</style>