<template>
  <div class="container margin-navbar p-t-2">
  <dashboard-page></dashboard-page>
  </div>
</template>
<script>
import Dashboard from '@/components/Dashboard'
export default{
  name: 'DashboardIndexPage',
  components: {
    'dashboard-page': Dashboard
  }
}
</script>