<template>
  <el-dialog
    title="Add New Member"
    :visible.sync="dialogVisible"
    @open="handleOpen"
    :before-close="onCancel">

    <el-form ref="form" :rules="rules" :model="new_member" :label-position="'top'">
      <el-form-item prop="name" label="Name">
        <el-input type="text" v-model="new_member.name" placeholder="XYZ's Address"></el-input>
      </el-form-item>
      <el-form-item prop="address" label="Address">
        <el-input type="text" v-model="new_member.address" placeholder="Enter address"></el-input>
      </el-form-item>
      <el-row class="t-r">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="primary" @click="onSubmit" id="submit-button">Save Changes</el-button>
      </el-row>
    </el-form>

    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">Cancel</el-button>
      <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
export default {
  name: 'AddMemberDialog',
  data: function () {
    return {
      new_member: {},
      company: {},
      rules: {
        name: {
          required: true,
          message: 'Address name is required'
        },
        address: [{
          required: true,
          message: 'Address is required'
        },{
          pattern: '^0x[a-fA-F0-9]{40}$',
          message: 'Please make sure address format is correct'
        }]
      }
    }
  },
  props: ['memberId', 'dialogVisible'],
  mounted: function () {
    this.company = this.$store.getters.company
  },
  watch: {
    '$store.getters.company': function (newVal) {
      this.company = this.$store.getters.company
    },
    memberId: function (newVal) {
      if(newVal && typeof newVal === 'string'){
        this.fetchMemberFromStore(newVal)
      }
    }
  },
  methods: {
    handleOpen: function () {
      // if (this.address) {
      //   this.new_address = {...this.address}
      // }
    },
    handleClose: function () {
      this.new_member = {}
      this.$refs['form'].resetFields()
    },
    onCancel: function () {
      this.$emit('close')
      this.handleClose()
    },
    fetchMemberFromStore: function (id) {
      let members = this.$store.getters.company &&
                    this.$store.getters.company.members
      this.new_member = members.find(member => member._id === id)
    },
    onSubmit: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (!this.new_member._id) {
            
            this.new_member.company_id = this.company._id

            this.$store.dispatch('addOrUpdateCompanyMember', [this.new_member, {show_loading: true, fullscreen: false, target: '#submit-button'}]).then(() => {
              this.showSuccess('Address added successfully')
              this.$emit('close')
              this.handleClose()
            }, error => {
              // this.showError(error)
            })
          } else {
            this.$store.dispatch('addOrUpdateCompanyMember', [this.new_member, {show_loading: true, fullscreen: false, target: '#submit-button'}]).then(() => {
              this.showSuccess('Address added successfully')
              this.$emit('close')
              this.handleClose()
            }, error => {
              // this.showError(error)
            })
          }
        }
      })
    }
  }
}
</script>
