<template>
  <div class="edit-company">
    <el-form ref="form" :rules="rules" :model="new_company">
      <el-form-item prop="name" label="Name">
        <el-input type="text" placeholder="Company name" v-model="new_company.name"></el-input>
      </el-form-item>
      <el-form-item prop="website" label="Website">
        <el-input type="url" placeholder="Company website URL" v-model="new_company.website"></el-input>
      </el-form-item>
      <el-form-item prop="phone" label="Phone">
        <el-input type="tel" placeholder="Company phone no." v-model="new_company.phone"></el-input>
      </el-form-item>
      <el-form-item prop="email" label="Email">
        <el-input type="email" placeholder="Company email" v-model="new_company.email"></el-input>
      </el-form-item>
      <el-form-item prop="logo" label="Company Logo">
        <el-upload
        :action="upload_url"
        :headers="header"
        list-type="picture-card"
        :limit="1"
        :multiple="false"
        :on-success="onSuccess"
        :on-remove="onRemove" ref="upload-image">
        <img v-if="new_company.logo" :src="api_url + new_company.logo" class="avatar image" id="avatar-img">
        <i v-else class="el-icon-plus"></i>
      </el-upload>
      </el-form-item>
      <el-form-item></el-form-item>
      <el-row type="flex" justify="end">
        <el-button type="secondary" round @click="create" v-loading="loading">Save Changes</el-button>
      </el-row>
    </el-form>
  </div>
</template>
<script>
import validationRules from '@/shared/validations'

export default {
  name: 'EditCompanyComponent',
  data: function () {
    return {
      loading: false,
      new_company: {},
      api_url: process.env.VUE_APP_API_URL,
      upload_url: `${process.env.VUE_APP_API_URL}/upload`,
      header: {
        Authorization: `Basic ${this.$store.getters.token}`
      },
      rules: validationRules
    }
  },
  props: ['company'],
  watch: {
    company: function (newVal) {
      if (newVal && newVal._id) {
        this.new_company = newVal
      }
    }
  },
  methods: {
    // getCurrentCompany: function () {
    //   this.$store.dispatch('getCompany', this.company_id, { with: 'members' }).then(resp => {
    //     this.new_company = resp
    //   }) 
    // },
    onSuccess: function (response, file) {
      if (file && file.response && file.response.file_path) {
        this.$emit('onSuccess', file.response.file_path)
        this.new_company.logo = file.response.file_path
      }
      let uploadCard = document.getElementsByClassName('el-upload--picture-card')
      if (uploadCard && uploadCard[0]) {
        uploadCard[0].style.display = 'none'
      }
    },
    onRemove: function () {
      let uploadCard = document.getElementsByClassName('el-upload--picture-card')
      if (uploadCard && uploadCard[0]) {
        uploadCard[0].style.display = 'inline-block'
      }
    },
    create: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('addOrUpdateCompany', { ...this.new_company }).then(resp => {
            this.new_company = resp
            this.showSuccess('Company created successfully')
            this.$emit('save', this.new_company)
            this.loading = false
          }, error => {
            this.showError(error)
            this.loading = false
          })
        }
      })
    }
  }
}
</script>
<style lang='scss'>
.edit-company {
  .avatar.image {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }
}
</style>