<template>
  <div class="side-navbar" :class="{'collapse': isCollapse}" >
    <el-menu :default-active="default_active" :collapse="isCollapse"  mode="horizontal" :router="true">
      <el-menu-item :index="`/dashboard/company/${company_id}/edit`" @click="setDefaultActive('edit')">
        <i class="far fa-building"></i>
        <span slot="title">Company</span>
      </el-menu-item>
      <el-menu-item :index="`/dashboard/company/${company_id}/members`" @click="setDefaultActive('members')">
        <i class="fas fa-users"></i>
        <span slot="title">Members</span>
      </el-menu-item>
      <el-menu-item :index="`/dashboard/company/${company_id}/license`" @click="setDefaultActive('license')">
        <i class="far fa-id-badge"></i>
        <span slot="title">License</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'Side-Navbar',
  data: function () {
    return {
      isCollapse: false,
      default_active: `/dashboard/company/${this.$route.params.id}/edit`,
      company_id: this.$route.params.id
    }
  },
  created () {
    const activeTab = this.$route.path.split('/').pop()
    this.setDefaultActive(activeTab)
    window.bus.$on('set-active-tab', (tab) => {
      this.setDefaultActive(tab)
    })
  },
  methods: {
    toggleCollapse: function () {
      this.isCollapse = !this.isCollapse
      window.bus.$emit('sidenav-collapse', this.isCollapse)
    },
    setDefaultActive: function (state) {
      this.default_active = `/dashboard/company/${this.$route.params.id}/${state}`
    }
  }
}
</script>

<style lang="scss">
.side-navbar {
  background: white;
  transition: width 0.25s linear;

  .el-menu {
    height: 100%;
    text-align: left;
    border-right: 0;
    background: transparent;
    transition: unset !important;
    display: flex;
    justify-content: center;

    .el-menu-item, .el-submenu__title {
      font-size: 1rem;
      height: auto;
      line-height: normal;
      padding: 1.25rem 1.5rem !important;
      color: #848181;
      margin: 0 1rem;

      i {
        color: #848181;
        width: auto;
        margin-right: 10px;
      }
    }

    .el-menu-item.is-active, .el-menu-item:hover, .el-submenu__title:hover {
      background-color: white;
      color: #27007C;

      i { color: #27007C; }
    }
  }
  .el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid #27007C;
  }

  .toggle-collapse {
    text-align: right;
    i {
      cursor: pointer;
    }
  }

  .el-tooltip {
    position: relative !important;
    padding: 0 !important;
  }
}

.side-navbar.collapse {
  width: 8rem;

  .toggle-collapse {
    text-align: center;
  }

  .el-menu {
    width: auto;

    .el-menu-item {
      text-align: center;
      i {
        margin-right: 0;
      }
      span {
        display: none;
      }
    }
  }

  .el-tooltip {
    position: relative !important;
    padding: 0 !important;
  }
}
</style>
