.t-l { text-align: left; }
.t-r { text-align: right; }
.t-c { text-align: center; }

.t-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-0 { margin: 0; }
.m-b-0 { margin-bottom: 0; }
.m-t-0 { margin-top: 0; }
.m-r-0 { margin-right: 0; }
.m-l-0 { margin-left: 0; }

.m { margin: 1rem; }
.m-t { margin-top: 1rem; }
.m-b { margin-bottom: 1rem; }
.m-l { margin-left: 1rem; }
.m-r { margin-right: 1rem; }
.m-a { margin: auto; }
.m-2 { margin: 2rem; }
.m-t-2 { margin-top: 2rem; }
.m-b-2 { margin-bottom: 2rem; }
.m-l-2 { margin-left: 2rem; }
.m-r-2 { margin-right: 2rem; }

.p-0 { padding: 0; }
.p-b-0 { padding-bottom: 0; }
.p-t-0 { padding-top: 0; }
.p-r-0 { padding-left: 0; }
.p-l-0 { padding-right: 0; }

.p { padding: 1rem; }
.p-t { padding-top: 1rem; }
.p-b { padding-bottom: 1rem; }
.p-l { padding-left: 1rem; }
.p-r { padding-right: 1rem; }

.p-2 { padding: 2rem; }
.p-t-2 { padding-top: 2rem; }
.p-b-2 { padding-bottom: 2rem; }
.p-l-2 { padding-left: 2rem; }
.p-r-2 { padding-right: 2rem; }

.f-r { float: right; }
.f-l { float: left; }

.flex-wrap { flex-wrap: wrap; }

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }

.full-width { width: 100%; }


.ribbon{
  position: absolute;
  top: 0px;
  left: 0;
  right:0;
  background: #30347c;
  color: #fff;
  background: #30347c;
  font-size: 0.8rem;
  padding: 8px 18px;
  text-align: center;
}

///////////////// Loader /////////////////////////

$brand-success: #30347c;
$loader-size: 8em;
$check-height: 7em;
$check-width: 2em;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
  margin: 0 0 30px 10px;
  border: $check-thickness solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: #67ede6;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}
.checkmark-show{
  display: block !important;
}
.checkmark {
  display: none;
  
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: 4em;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}


// Draw cross //
.cross {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    position: relative;
}

.cross:after {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 75px; 
    color: red;
    line-height: 100px;
    text-align: center;
}

