<template>
  <div class="auth-container reset-page">
    <div class="auth-card-holder t-c">
      <el-card class="padded">
        <h1 class="m-b-0">Reset password</h1>
        <!-- <p class="m-t-0">Enter new password you want.</p> -->

        <el-form ref="form" :rules="rules" :model="user">
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="user.password" placeholder="Enter new password"></el-input>
          </el-form-item>
          <el-form-item></el-form-item>
          <el-row class="t-c">
            <el-button type="primary" round class="full-width" @click="onSubmit" id="submit-button">Change Password</el-button>
            <el-button type="plain" round class="full-width m-t" @click="login()">Back to Login</el-button>
          </el-row>
        </el-form>
      </el-card>
    </div>
  </div>
</template>
<script>
import validationRules from '@/shared/validations'

export default {
  name: 'Forgot-Page',
  data: function () {
    return {
      user: {},
      rules: validationRules
    }
  },
  mounted: function () {
    this.user.reset_token = this.$route.params.reset_token
  },
  methods: {
    onSubmit: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          let user = { ...this.user }
          this.$store.dispatch('reset', [user, {show_loading: true, fullscreen: false, target: '#submit-button'}]).then((resp) => {
            if(resp.success) {
              this.showSuccess('Password changed successfully.')
              this.login();
            } else {
              this.showError('Password not changed. Please try again.')
            }
          }).catch(error => {
            this.showError(error)
          })
        }
      })
    },
    login: function () {
      this.$router.push('/auth/signin')
    }
  }
}
</script>
<style lang="scss">
.reset-page {
  .auth-card-holder .el-form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
</style>
